<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/home.css') }}">
    <title>Image Analyzer</title>
</head>
<body>
    <div class="container">
        <p> Upload and Analyze the Image  </p> <br> 

        <input type="file" id="imageInput" accept="image/*">
        <button onclick="uploadImage()"> Analyze Image </button> <br>  
        <div id="output"></div>
    </div>

    <!-- Adding javascript -->
    <script src="{{ url_for('.static', filename='js/home.js') }}"></script>
</body>
</html>